<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<body>

<form>
  <label for="fname">Input(Integers)</label>
  <input [(ngModel)]="input" type="text" [ngModelOptions]="{standalone: true}">
</form>

<div class="dropdown">
  <button class="dropbtn">Sorting with</button>
  <div class="dropdown-content">
    <a href="#" (click)="sort()">Quick Sort</a>
    <a href="#" (click)="sort()">Merge Sort</a>
  </div>
</div>


<br>
<br>

<form>
  <label for="fname">Sorted results</label>
  <input [(ngModel)]="result" type="text" readonly="" [ngModelOptions]="{standalone: true}">
</form>

</body>

<router-outlet></router-outlet>
